
<div class="note-editor">
  <textarea 
    class="note-editor__textarea"
    ref:textarea>{{content}}</textarea>
</div>

<style>

  .note-editor {
    flex-grow: 1;
    margin: 0 0;
    padding: 0 0;
    
  }

  
  .note-editor__textarea:focus {
    outline: none;
    box-shadow: none;
  }
  
  /*.CodeMirror {*/
  /*  height: 100vh;*/
  /*}*/
  
</style>

<script>
  /* global CodeMirror */
  import { debounce } from "../utilities.js";
  import { database } from "../firebase.js";
  
  export default {
    
    oncreate(){
      
      this.codeMirror = CodeMirror.fromTextArea(this.refs.editor, {
        mode: "markdown",
        theme: "notes-app",
      });
      
      // this._save = debounce(1000, this.save.bind(this))
      
      // observables
      // this.store.observe("activeNote", note => this.set({ note }))
      
      // changing the editor updates our internal model
      // this.codeMirror.on("inputRead", (codeMirror) => {
      //   const note = this.get("note")
      //   note.content = codeMirror.getValue()
      //   this.set({ note })
      // })
      
      // changes to our internal model save to DB
      // this.observe("note", note => this._save(note))
      
      // changing the 'page' updates our editor
      // this.store.observe("activeNote", note => this.codeMirror.setValue(note.content))
      

    },
    
    computed: {
      content: note => note && note.content ? note.content : "",
    },
    
    methods: {
      
      save: function(note) {
        if (note) {
          database.ref(`notes/${note.id}/content`)
            .set(note.content)
            .then( () => console.log(`saved ${note.id}`));
        }
      },
    }
    
  }
  
</script>