
{{#if notes.length > 0}}
  <ul class="note-list">
    {{#each notes as note, index}}
      <li class="note-list__item">
        <Card id={{note.id}} title={{note.title}} index={{index}} content={{note.content}} />
      </li>
    {{/each}}
  </ul>
{{/if}}


<style>

  .note-list {
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: stretch;
    justify-content: space-around;
  }
  
  .note-list .note-list__item {
    --size: 26rem;
    flex: 1 1 var(--size);
    margin: 1rem 1rem 0rem 0rem;
    min-height: var(--size);
    
  }
  
  a,
  a:link,
  a:visited {
    text-decoration: none;
    display: block;
    cursor: pointer;
    padding: 0rem 0rem;
  }
  
  a:hover {
    background-color: rgba(255,255,255,0.02);
  }

  .no-items {
    padding: 1rem 1rem;
    opacity: 0.15;
  }
  
</style>

<script>

  import { debounce } from "../utilities.js";
  import { database } from "../firebase.js";
  import Card from "./Card.html";
  
  export default {
  
    data() {
      return {
        notes: [],
      }
    },
    
    oncreate() {
      
      this.saveDebounced = debounce(1000, this.save)
      
      this.store.observe('notes', notes => {
        this.set({ notes });
      });
    },
    
    methods: {
      
      keyup(event, noteID, content) {
        this.saveDebounced(noteID, content)
      },
      
      save(noteID, content) {
        database.ref(`/notes/${noteID}/title`).set(content)
      },
    },
    
    components: { Card }
  }
</script>