
<:Head>
  <title>{{title}}</title>
</:Head>

<div class="page {{fullSize ? 'full' : ''}}">
  {{#if title}}
    <div class="title">
      <h1>{{title}}</h1>
    </div>
  {{/if}}
  <slot>
    <p>This is an empty page.</p>
  </slot>
</div>

<style>

  h1 {
    font-size: 3rem;
    line-height: 1.6rem;
  }
  
  .page {
    width: 100%;
    padding: 10vh 10vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .full {
    padding: 0rem 0rem;
  }
</style>