<aside>
  <section>
    <h2 on:click="reload()">{{$title}}</h2>
  </section>
  <section class="primary">
    <NoteList />
  </section>

  <section class="actions">
    <button>Add Note</button>
  </section>
</aside>

<style>

  h2 {
    cursor: pointer;
    color: #666;
  }
  
  h2:hover {
    color: #000;
  }

  aside {
    min-width: 16vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f2f2f2;
    height: 100vh;
    flex: 0 1 auto;
    justify-content: space-between;
  }
  
  section {
    width: 100%;
    display: block;
    flex-shrink: 1;
    padding: 1rem 1rem;
  }
  
  .primary {
    padding: 0rem 0rem;
    flex-grow: 1;
  }
  
  .actions {
    align-self: flex-end;
    border-top: 1px solid #d2d2d2;
  }
</style>

<script>
  import NoteList from "./NoteList.html";
  
  export default {
    
    methods: {
      
      reload() {
        console.log("hey")
        window.location.replace("https://preview.c9users.io/robustrory/portfolio-redesign-2017/notes-app/public/index.html")
      },
      
    },
    
    components: { 
      NoteList,
    },
  }
</script>