<nav>
  
  
  <button class="action" on:click="reload()"><i class="material-icons">autorenew</i></button>
  <button class="action {{boardPanelActive ? 'active' : ''}}" on:click="toggleBoardPanel()">
    <i class="material-icons">{{ boardPanelActive ? "close" : "dashboard" }}</i>
  </button>
  


</nav>

{{#if boardPanelActive}}
  <div class="overlay">
    <div class="panel">
      <BoardList />
    </div>
  </div>
{{/if}}
  
<style>

  nav {
    border-right: 1px solid rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: middle;
    background-color: var(--sidebar-background-color);
    color: var(--sidebar-color);
    height: 100vh;
    padding: 2rem 0;
  }
  
  nav button {
    background: var(--sidebar-background-color);
    border: none;
    color: var(--sidebar-color);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    line-height: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    cursor: pointer;
    box-sizing: content-box;
  }
  
  nav button:active,
  nav button.active{
    text-shadow: 0px 0px 8px #fff, 0px 0px 3px #ffe;
    color: #fff;
    background-color: var(--panel-background-color);
  }
  
  nav button:focus {
    outline: none;
    box-shadow: none;

  }

  .material-icons {
    font-size: 1em;
  }
  
  .overlay {
    position: relative;
  }

  
  .panel {
    position: absolute;
    background-color: var(--panel-background-color);
    background-image: linear-gradient(120deg, #FF512F 0%, #DD2476 100%);
    padding: 2rem 5vw 2rem;
    top: 3rem;
    left: 3rem;
    max-height: 90vh;
    width: 65vw;
    min-width: 24rem;
    max-width: 60rem;
    border: 1px solid #000;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
    background: linear-gradient(240deg, #FF512F 0%, #DD2476 100%), url("../images/stardust.png");
    animation: 6s linear starfield infinite;
    background-blend-mode: overlay;
    background-repeat: repeat;
    will-change: background-position;
    
  }
  
  @keyframes starfield {
    from {
      background-position: 0% 0%, 0px 0%;
    }
    
    
    to {
      background-position: 0% 0%, 3990px -798px;
    }
  }
  
</style>

<script>
  
  import BoardList from "./BoardList.html";
  import { database } from "../firebase.js";
  
  export default {
    
    data() {
      return {
        boardPanelActive: true,
      }
      
    },
    
    methods: {
      
      reload() {
        console.log("dealing with c9.io reload")
        window.location.replace("https://preview.c9users.io/robustrory/portfolio-redesign-2017/notes-app/public/index.html")
      },
      
      toggleBoardPanel() {
        var boardPanelActive = !(this.get("boardPanelActive"))
        console.log(boardPanelActive)
        this.set({ boardPanelActive });
      },
      
    },
    
    components: { 
      BoardList,
    },
    
  }
</script>